.Usercomponent {
  display: flex;
  cursor: pointer;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
  &-image {
    width: 60px;
    height: 60px;
    // border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin: auto 0;
    background-position: top;
    background-size: cover;
    &-img {
      transform: scale(1.2);
      height: 100%;
    }
  }
  &-Userinfo {
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    &-name {
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      justify-self: center;
    }
    &-position {
      justify-self: center;
      color: rgba($color: #fff, $alpha: 0.58);
    }
  }
  &-logout {
    justify-self: end;
    display: flex;
    margin-left: auto;
    &-img {
      width: 20px;
      margin: auto;
    }
  }
}

.relative {
  position: relative;
}
.full-width {
  width: 100%;
}

.toBeBlur {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.1s;
  display: flex;
}

.Usercomponent:hover .toBeBlur {
  transform: matrix(1, 0, 0.2, 0.1, 0, 0);
  perspective: 2px;
  opacity: 0;
}

.flipper {
  position: relative;
}
.backside {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: matrix(1, 0, 0.2, 0.1, 0, 0);
  display: flex;
  opacity: 0;
  transition: 0.4s;
  &-slogan {
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    color: rgba($color: #fff, $alpha: 0.58);
  }
}

.Usercomponent:hover .backside {
  transform: none;
  opacity: 1;
  &-slogan {
    color: #fff;
  }
}
