.Sidebar {
  background-color: rgba($color: #374045, $alpha: 0.4);
  backdrop-filter: blur(30px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  max-height: 100vh;
  min-height: 100vh;
}
