.Sidebar {
  background-color: rgba($color: #302e2e, $alpha: 0.6);
  backdrop-filter: blur(30px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-rows: 1fr 1fr 6fr 2fr;
}
