.BackComponent {
  display: flex;
  cursor: pointer;
  transition: background 0.4s;
  position: relative;
  &:hover {
    background: rgba($color: #ffffff, $alpha: 0.1);
  }
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
}
