.Homepage {
  width: 100%;
  height: 100%;
  display: grid;
  &-on {
    grid-template-columns: 3fr 9fr;
  }
  &-off {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
